h1, #watch-container {
    text-align: center;
    font-family: monospace;
    font-size: 70px;
    border: solid 5px rgb(10, 90, 114);
    margin: auto;
    -webkit-box-sizing: :border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    margin-left: 500px;
}

#watch-container {
    margin-right: 500px;
}

.morning {
    background-color: aquamarine;
    color: rgb(10, 90, 114);
}

.afternoon {
    background-color: khaki;
    color: rgb(119, 108, 11);
}

.evening {
    background-color: rgb(87, 89, 199);
    color: rgb(44, 45, 102);
}